{% extends "base.html" %}

{% block content %}


<h3>
   <small class="text-body-secondary">Historial de mediciones de menor</small>
</h3>


<div class="card">
  <div class="card-header">
    Datos del menor 
  </div>
  <div class="card-body">
    <p class="card-text">ID Interno sistema: {{menor.id}} </p>
    <p class="card-text">Nombre: {{menor.nombres}} {{menor.apellido_paterno}} {{menor.apellido_materno}} </p>
    <p class="card-text">Fecha nacimiento: {{menor.fecha_nacimiento}}</p>
    <p class="card-text">Sexo: {{menor.sexo}}</p>
    <p class="card-text">Observaciones: {{menor.observaciones}}</p>

   
  </div>
</div>

<br/>

<div class="row">
  <div class="col"><h3><small class="text-body-secondary">Mediciones</small></h3></div>
  <div class="col"><h3><small class="text-body-secondary"></small></h3></div>
  <div class="col"><h3><small class="text-body-secondary"></small></h3></div>
  <div class="col text-center">
      <a class="btn btn-success" href="{% url 'registrar_medicion' id=menor.id %}">+ Registrar medición</a>
  </div>
</div>


<table class="table table-striped-columns table-bordered border-primary text-center">
  <thead>
    <tr>
        <th>ID Medición</th>
        <th>Fecha</th>
        <th>Fuente Dato</th>
        <th>Edad Años</th>
        <th>Edad Meses</th>
        <th>Peso</th>
        <th>Talla</th>
        <th>IMC</th>
        <th>Perímetro Craneo</th>
        
     </tr>
  </thead>
  
  <tbody>
    {% for medicion in mediciones %}
    <tr>
        <td>{{ medicion.id }}</td>
        <td>{{ medicion.fecha_medicion|date:"d/m/Y" }} </td>
        <td>{{ medicion.fuente_dato }}</td>
        <td>{{ medicion.edad_anos }}</td>
        <td>{{ medicion.edad_meses }} </td>
        <td>{{ medicion.peso|default_if_none:"" }} </td>
        <td>{{ medicion.talla|default_if_none:"" }} </td>
        <td>{{ medicion.imc|default_if_none:"" }} </td>
        <td>{{ medicion.perimetro_cefalico|default_if_none:"" }} </td>
             
  
    </tr>
    {% empty %}
        <tr><td>No hay registros disponibles.</td></tr>
    {% endfor %}

  </tbody>

</table>
{% endblock content %}