{% extends "base.html" %}

{% block content %}

<h3>Lista de Menores</h3>

<div class="row col-12 justify-content-end mb-2 pr-0">
  <a class="btn btn-success col-md-3" href="{% url 'crear_perfil_menor' %}">Crear Perfil de Menor</a> 
</div>

<table class="table table-striped">
  <thead>
    <tr>
        <th>ID</th>
        <th>Nombres</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>Sexo</th>
        <th>Fecha Nacimiento</th>
        <th></th>
        <th></th>
    </tr>
  </thead>
  
  <tbody>
    {% for menor in menores %}
    <tr>
        <td>{{ menor.id }}</td>
        <td>{{ menor.nombres }}</td>
        <td>{{ menor.apellido_paterno }}</td>
        <td>{{ menor.apellido_materno }}</td>
        <td>{{ menor.sexo }} </td>
        <td> {{ menor.fecha_nacimiento|date:"d/m/Y" }} </td>
        <td> 
           <a href="{% url 'registrar_medicion' id=menor.id %}">Registrar medición</a>
        </td>
        <td><a href="{% url 'historico_mediciones_menor' id=menor.id %}">Historial mediciones</a></td>
    </tr>
    {% empty %}
        <tr><td>No hay registros disponibles.</td></tr>
    {% endfor %}

  </tbody>

</table>
{% endblock content %}