<!DOCTYPE html>
<html>
<head>
<title>Cuaderno de Crecimiento</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<style>
  .formulario-ancho-fijo {
    max-width: 500px; /* Ancho máximo */ 
    width: 100%;      /* Se adapta a pantallas pequeñas */
  }

  .btn-mi-color {
    background-color: #47aa2b; /* Un naranja personalizado */
    color: white;
    border-color: black; /* Borde de otro color */
}

.btn-mi-color:hover {
    background-color: #9fcd91;
    border-color: black;
}

</style>

</head>
<body>
<div class="container mt-5">
  <div class="row">

    <div class="col-md-4">
      {% load static %}
     <img src="{% static 'images/isotipo.png'%}" alt="Isotipo" width="400" height="400"> 
     <!-- <img src="{% static 'images/contorno_craneo.jpg'%}" alt="Imagen medida Contorno craneo"> -->
    </div>

    <div class="col-md-8">
    <h1>¡Bienvenidas familias!</h1>
    <form method="POST" class="formulario-ancho-fijo">
        
            {% csrf_token %}
            <!-- <div class="form-group"> -->
            <div class="col-mb-3">
              <input type="text" id="nombre_usuario" name="username" class="form-control" placeholder="Escriba aquí su usuario">
            </div>
           <!-- <div class="form-group"> -->
            <div class="col-mb-3">
            <input type="password" id="password" name="password" class="form-control" placeholder="Escriba aquí su contraseña">
            </div>
            <br>
            <button type="submit"  class="btn btn btn-mi-color"> Iniciar sesión </button>
            <br>
            <a>Restablecer contraseña</a>
            <br/>
            <a href="{% url 'registro' %}"> ¿Todavía no tienes una cuenta?, Regístrate </a>
        
    </form>


    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
    <p>{{ message }}</p>
    </div>
    {% endfor %}
    </div>
  </div><!-- cierre div class row -->
</div> <!-- fin de la div class container -->
<script>
  $().alert('close')
</script>
</body>
</html>