{% extends "base.html" %}


{% block content %}

<div class="card mb-6" style="max-width: 800px;">
    {% for message in messages %}
      <div class="alert alert-success" id="msg" role="alert">
         <p>{{ message }}</p>
      </div>
    {% endfor %}

  <div class="row g-0">
    <diV class="container">
      <a class="btn btn-success" href="{% url 'historico_mediciones_menor' id=menor.id %}"> Historial de Mediciones de menor</a>
    </div>
    <br/>
    <div class="col-md-6 mx-auto bg-light p-3">
     
      <!-- isotipo grafico curva verde y titulo cuaderno de Crecimiento (elementos que estan arriba de la imagen de niño con jirafa) -->
      <div class="d-flex align-items-center">
        {% load static %} 
        <img src="{% static 'images/isotipo.png'%}" class="img-fluid me-3" alt="Your Image" width="60" height="100">
        <div>
           <p><h5> Cuaderno de Crecimiento </h5></p>
        </div>
      </div>


      
      <div class="text-center p-3">
        {% load static %}
        <img src="{% static 'images/img_menor_jirafa.png'%}" alt="Imagen medicion talla menor" width="350" height="400" class="mb-4"> 
      <br/>
        <h2><span class="badge rounded-pill bg-color-verde">{{menor.nombres}}</span></h2>

        
        

         {% if menor.sexo == "F" %}
          
            <h2><span class="badge rounded-pill bg-color-verde">Sexo: Femenino</span></h2>
        {% else %}
           
            <h2><span class="badge rounded-pill bg-color-verde">Sexo: Masculino</span></h2>
        {% endif %}

          <h2><span class="badge rounded-pill bg-color-verde">{{ menor.edad_actual }} años</span></h2>

      </div>
    </div>
    

    <div class="col-md-6 bg-color-verde-suave text-center p-3">
        
      
      <div class="card-body">
        
         
        
        <h5 class="card-title">Ingreso de datos de medición</h5>
        <br/>
               <!--
               {% if form.errors %}
                  <div class="alert alert-danger" id="err-msg" role="alert">
                        {{ registrar_medicion_form.non_field_errors }} {# Show general form errors 15/12/2025 #}
                  </div>
               {% endif %}
               --> 

            <!-- inicio prueba listado errores en el formulario  -->
            {% if registrar_medicion_form.errors %}
            <div class="alert alert-danger">
                <strong>Errores encontrados:</strong>
                <ul>
                    {% if registrar_medicion_form.non_field_errors %}
                        {% for error in registrar_medicion_form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endif %}
                    {% for field in registrar_medicion_form %}
                        {% for error in field.errors %}
                            <li>{{ field.label }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <!-- cierre prueba listado errores en el formulario  -->



            <div class="mb-5">           
                {% load widget_tweaks %}
                <form method="post" class="row g-3">
                  {% csrf_token %}
                  {% for field in registrar_medicion_form %}
                  <div class="col-md-6">
                      {{ field.label_tag }}
                      {{ field|add_class:"form-control" }}
                      {% if field.help_text %}
                          <small class="form-text text-muted">{{ field.help_text }}</small>
                      {% endif %}
                  {{ field.errors }}
                  </div>
                  {% endfor %}
                  <button type="submit" class="btn btn-primary">Registrar Medición</button>
                </form>
            </div>


      </div>
    </div>

  </div>
</div>

<script>
  setTimeout(() => {
  if($('#msg').length > 0) {
    $('#msg').remove();
  }
   console.log('This message appears after 2 seconds!');
}, 5000); // 5000 milliseconds = 5 seconds
</script>
{% endblock content %}